body {
    font-family: 'Noto Serif', serif; /* Use Noto Serif font */
    margin: 0;
    background-color: #808080; /* Grey background color */
    color: #055c2c; /* Light green font color */
}

#background-video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #2c2d30; /* Updated form background color */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1;
    color: #055c2c; /* Updated font color */
}

h2 {
    color: #FF4500; /* Burning orange color */
    font-weight: bold; /* Make heading bold */
    text-decoration: underline; /* Underline heading */
}

form {
    display: grid;
    gap: 20px;
}

label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

input,
textarea {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#privacy {
    display: flex;
    align-items: center; /* Center checkbox vertically */
}

#privacy input[type="checkbox"] {
    margin-right: 5px; /* Add spacing between checkbox and text */
}

#privacy a {
    color: #050e6b; /* Updated privacy policy text color */
}

button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: box-shadow 0.3s ease;
}

button:hover {
    background-color: #45a049;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.glow {
    animation: glow 0.5s ease-in-out infinite alternate;
}

@keyframes glow {
    from {
        box-shadow: 0 0 10px #45a049;
    }
    to {
        box-shadow: 0 0 20px #45a049, 0 0 30px #45a049;
    }
}
